<h1 class="text-center">GAME2048x by Farismendi</h1>

<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <p class="text-center">
                Movimientos: {{countMoviments}}
            </p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <ng-container *ngIf="array">
                <ng-container *ngFor="let row of array; let i=index">
                    <p>
                        <ng-container *ngFor="let col of row; let j=index">
                            <span class="elem-game">{{col}}</span> ({{i}},{{j}})
                        </ng-container>
                    </p>
                </ng-container>
            </ng-container>
        </div>
    </div>
    
</div>




